.container{
    color: #ffffff;
    text-align: center;
    .header{
        font-size: 40px;
        //font-style: bold;
        text-decoration: underline;
    }
    .tags{
        text-align: left;
    }
}